<div class="col d-flex justify-content-center">
  <div class="card text-center" style="width: 24rem;box-shadow: 0 19px 38px rgba(0,0,0,0.30);border-radius: 0rem;">
    <h2>Connexion</h2>
    <form class="example-form" #formAct="ngForm" (ngSubmit)="tryLogin()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Pseudo" required name="pseudo" #pseudoAct="ngModel"
          [(ngModel)]="user.pseudo">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Mot de passe" required name="mdp" #numAct="ngModel"
          [(ngModel)]="user.mdp">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>