<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form #formAct="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Adresse mail" #mailAct [(ngModel)]="user.mail">
      </div>
      <div class="form-group">
        <label for="email">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe" #mdpAct [(ngModel)]="user.mdp">
      </div>
      <button [disabled]="!formAct.form.valid" class="btn btn-primary btn-bloc">Login</button>
    </form>
  </div>
</div>